Repository ZTMowrer947/library-manager: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --dix

.lintstagedrc.json:

{
  "*.json": "prettier --write",
  "*.{ts,js}": ["prettier --write", "eslint --dix"]
}

Setup nodemon for dev
  package.json
Due: prettier --write

Fix typo in lint-staged config
  .lintstagedrc.json
Due: prettier --write

Add basic koa middleware and router
  package.json
  pnpm-lock.yaml
  public/.gitkeep
  src/index.ts
  src/routes/index.ts
  tsconfig.json
  views/index.hbs
Due: prettier --write, eslint --dix

Add Prisma ORM
  package.json
  pnpm-lock.yaml
  prisma/schema.prisma
Due: prettier --write

Add Book model to database
  .gitignore
  package.json
  pnpm-lock.yaml
  prisma/schema.prisma
Due: prettier --write

Add database seeding script
  package.json
  pnpm-lock.yaml
  prisma/Books.csv
  prisma/seed.js
Due: prettier --write, eslint --dix

Configure @ alias for src dir
  .babelrc.json
  package.json
  pnpm-lock.yaml
  src/index.ts
  tsconfig.json
Due: prettier --write, eslint --dix

Add layout partial to views
  src/index.ts
  src/routes/index.ts
  views/index.hbs
  views/layout.hbs
Due: prettier --write, eslint --dix

Add books router with redirect
  src/routes/books.ts
  src/routes/index.ts
Due: prettier --write, eslint --dix

Add stylesheet from Techdegree starter files
  public/stylesheets/style.css
  src/routes/books.ts
  views/layout.hbs
Due: prettier --write, eslint --dix

Add mock book listing to template
  views/index.hbs
Due: none

Implement dynamic book listing
  src/lib/prisma.ts
  src/routes/books.ts
  views/index.hbs
Due: prettier --write, eslint --dix

Add superstruct
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write

Implement book creation
  src/lib/query-helpers/createBook.ts
  src/routes/books.ts
  src/schemas/book.ts
  views/new.hbs
Due: prettier --write, eslint --dix

Refactor book validation into middleware
  src/lib/middleware/validateSchema.ts
  src/lib/query-helpers/bookHasId.ts
  src/routes/books.ts
Due: prettier --write, eslint --dix

Add book updating
  src/lib/query-helpers/selectBook.ts
  src/routes/books.ts
  views/detail.hbs
Due: prettier --write, eslint --dix

Refactor error message extraction
  src/routes/books.ts
Due: prettier --write, eslint --dix

Remove unneeded double validation on new book creation
  src/routes/books.ts
Due: prettier --write, eslint --dix

Implement book deletion
  src/routes/books.ts
  views/delete.hbs
Due: prettier --write, eslint --dix

Adjust new book template buttons
  views/new.hbs
Due: none

Add basic error handling
  package.json
  pnpm-lock.yaml
  src/index.ts
  src/lib/middleware/errorHandler.ts
  src/lib/middleware/errorNormalizer.ts
  views/error.hbs
  views/not-found.hbs
Due: prettier --write, eslint --dix
